
language: python
python: 2.7

env:
    - TOX_ENV=pypy-tw121-nopyopenssl
    - TOX_ENV=pypy-tw121-pyopenssl13
    - TOX_ENV=pypy-tw121-pyopenssl14
    - TOX_ENV=pypy-tw121-pyopenssltrunk
    - TOX_ENV=pypy-tw122-nopyopenssl
    - TOX_ENV=pypy-tw122-pyopenssl13
    - TOX_ENV=pypy-tw122-pyopenssl14
    - TOX_ENV=pypy-tw122-pyopenssltrunk
    - TOX_ENV=pypy-tw123-nopyopenssl
    - TOX_ENV=pypy-tw123-pyopenssl13
    - TOX_ENV=pypy-tw123-pyopenssl14
    - TOX_ENV=pypy-tw123-pyopenssltrunk
    - TOX_ENV=pypy-tw130-nopyopenssl
    - TOX_ENV=pypy-tw130-pyopenssl13
    - TOX_ENV=pypy-tw130-pyopenssl14
    - TOX_ENV=pypy-tw130-pyopenssltrunk
    - TOX_ENV=pypy-tw131-nopyopenssl
    - TOX_ENV=pypy-tw131-pyopenssl13
    - TOX_ENV=pypy-tw131-pyopenssl14
    - TOX_ENV=pypy-tw131-pyopenssltrunk
    - TOX_ENV=pypy-tw132-nopyopenssl
    - TOX_ENV=pypy-tw132-pyopenssl13
    - TOX_ENV=pypy-tw132-pyopenssl14
    - TOX_ENV=pypy-tw132-pyopenssltrunk
    - TOX_ENV=pypy-twtrunk-nopyopenssl
    - TOX_ENV=pypy-twtrunk-pyopenssl13
    - TOX_ENV=pypy-twtrunk-pyopenssl14
    - TOX_ENV=pypy-twtrunk-pyopenssltrunk
    - TOX_ENV=py27-tw121-nopyopenssl
    - TOX_ENV=py27-tw121-pyopenssl13
    - TOX_ENV=py27-tw121-pyopenssl14
    - TOX_ENV=py27-tw121-pyopenssltrunk
    - TOX_ENV=py27-tw122-nopyopenssl
    - TOX_ENV=py27-tw122-pyopenssl13
    - TOX_ENV=py27-tw122-pyopenssl14
    - TOX_ENV=py27-tw122-pyopenssltrunk
    - TOX_ENV=py27-tw123-nopyopenssl
    - TOX_ENV=py27-tw123-pyopenssl13
    - TOX_ENV=py27-tw123-pyopenssl14
    - TOX_ENV=py27-tw123-pyopenssltrunk
    - TOX_ENV=py27-tw130-nopyopenssl
    - TOX_ENV=py27-tw130-pyopenssl13
    - TOX_ENV=py27-tw130-pyopenssl14
    - TOX_ENV=py27-tw130-pyopenssltrunk
    - TOX_ENV=py27-tw131-nopyopenssl
    - TOX_ENV=py27-tw131-pyopenssl13
    - TOX_ENV=py27-tw131-pyopenssl14
    - TOX_ENV=py27-tw131-pyopenssltrunk
    - TOX_ENV=py27-tw132-nopyopenssl
    - TOX_ENV=py27-tw132-pyopenssl13
    - TOX_ENV=py27-tw132-pyopenssl14
    - TOX_ENV=py27-tw132-pyopenssltrunk
    - TOX_ENV=py27-twtrunk-nopyopenssl
    - TOX_ENV=py27-twtrunk-pyopenssl13
    - TOX_ENV=py27-twtrunk-pyopenssl14
    - TOX_ENV=py27-twtrunk-pyopenssltrunk
    - TOX_ENV=py26-tw121-nopyopenssl
    - TOX_ENV=py26-tw121-pyopenssl13
    - TOX_ENV=py26-tw121-pyopenssl14
    - TOX_ENV=py26-tw121-pyopenssltrunk
    - TOX_ENV=py26-tw122-nopyopenssl
    - TOX_ENV=py26-tw122-pyopenssl13
    - TOX_ENV=py26-tw122-pyopenssl14
    - TOX_ENV=py26-tw122-pyopenssltrunk
    - TOX_ENV=py26-tw123-nopyopenssl
    - TOX_ENV=py26-tw123-pyopenssl13
    - TOX_ENV=py26-tw123-pyopenssl14
    - TOX_ENV=py26-tw123-pyopenssltrunk
    - TOX_ENV=py26-tw130-nopyopenssl
    - TOX_ENV=py26-tw130-pyopenssl13
    - TOX_ENV=py26-tw130-pyopenssl14
    - TOX_ENV=py26-tw130-pyopenssltrunk
    - TOX_ENV=py26-tw131-nopyopenssl
    - TOX_ENV=py26-tw131-pyopenssl13
    - TOX_ENV=py26-tw131-pyopenssl14
    - TOX_ENV=py26-tw131-pyopenssltrunk
    - TOX_ENV=py26-tw132-nopyopenssl
    - TOX_ENV=py26-tw132-pyopenssl13
    - TOX_ENV=py26-tw132-pyopenssl14
    - TOX_ENV=py26-tw132-pyopenssltrunk
    - TOX_ENV=py26-twtrunk-nopyopenssl
    - TOX_ENV=py26-twtrunk-pyopenssl13
    - TOX_ENV=py26-twtrunk-pyopenssl14
    - TOX_ENV=py26-twtrunk-pyopenssltrunk


script: tox -e $TOX_ENV

notifications:
    email: false
