language: python
python:
    - 2.6
    - 2.7
    #- pypy  # At the moment this segfaults are sort of terrible.

env:
  - TWISTED=Twisted==12.2.0 PYOPENSSL=PyOpenSSL
  - TWISTED=Twisted==12.1.0 PYOPENSSL=PyOpenSSL
  - TWISTED=Twisted==12.2.0 PYOPENSSL=
  - TWISTED=Twisted==12.1.0 PYOPENSSL=

install:
  - pip install $TWISTED --use-mirrors
  - 'test -n "$PYOPENSSL" && pip install $PYOPENSSL || true'
  - pip install -r requirements-dev.txt --use-mirrors

script:
  - pep8 treq
  - pyflakes treq
  - trial treq
