language: python

python:
    - 2.6
    - 2.7
    - pypy

env:
  - TWISTED=Twisted==12.2.0 PYOPENSSL=PyOpenSSL
  - TWISTED=Twisted==12.1.0 PYOPENSSL=PyOpenSSL
  - TWISTED=Twisted==12.2.0 PYOPENSSL=
  - TWISTED=Twisted==12.1.0 PYOPENSSL=
  - TWISTED=http://twistedmatrix.com/~therve/12.3.0pre2/Twisted-12.3.0pre2.tar.bz2 PYOPENSSL=PyOpenSSL
  - TWISTED=http://twistedmatrix.com/~therve/12.3.0pre2/Twisted-12.3.0pre2.tar.bz2 PYOPENSSL=

matrix:
  allow_failures:
    - python: pypy
      env: TWISTED=Twisted==12.2.0 PYOPENSSL=PyOpenSSL
    - python: pypy
      env: TWISTED=Twisted==12.1.0 PYOPENSSL=PyOpenSSL
    - python: pypy
      env: TWISTED=Twisted==12.2.0 PYOPENSSL=
    - python: pypy
      env: TWISTED=Twisted==12.1.0 PYOPENSSL=

install:
  - pip install $TWISTED --use-mirrors
  - 'test -n "$PYOPENSSL" && pip install $PYOPENSSL --use-mirrors || true'
  - pip install -r requirements-dev.txt --use-mirrors

script:
  - pep8 treq
  - pyflakes treq
  - trial treq
