include README.rst LICENSE tox.ini tox2travis.py .coveragerc
recursive-include docs *
prune docs/_build
exclude .travis.yml
exclude .readthedocs.yml

# Stubs
include src/treq/py.typed
recursive-include src *.pyi

global-exclude .DS_Store *.pyc
