include pyproject.toml
include *.rst
include *.md
include LICENSE
include .coveragerc
recursive-include docs *
prune docs/_build
prune docs/html

exclude tox.ini
exclude .github
exclude .readthedocs.yml

# This directory will be empty at release time.
prune changelog.d

global-exclude .DS_Store *.pyc *.pyo __pycache__
